-i https://pypi.org/simple
aicsimageio==4.14.0
aiobotocore==2.5.4 ; python_version >= '3.7'
aiohappyeyeballs==2.4.3 ; python_version >= '3.8'
aiohttp==3.10.10 ; python_version >= '3.8'
aioitertools==0.12.0 ; python_version >= '3.8'
aiosignal==1.3.1 ; python_version >= '3.7'
annotated-types==0.7.0 ; python_version >= '3.8'
asciitree==0.3.3
attrs==24.2.0 ; python_version >= '3.7'
bioformats-jar==2020.5.27
botocore==1.31.17 ; python_version >= '3.7'
certifi==2024.8.30 ; python_version >= '3.6'
charset-normalizer==3.4.0 ; python_full_version >= '3.7.0'
click==8.1.7 ; python_version >= '3.7'
cloudpickle==3.1.0 ; python_version >= '3.8'
contourpy==1.3.0 ; python_version >= '3.9'
cycler==0.12.1 ; python_version >= '3.8'
dask[array]==2024.10.0 ; python_version >= '3.10'
distributed==2024.10.0 ; python_version >= '3.10'
elementpath==4.5.0 ; python_version >= '3.8'
fasteners==0.19 ; python_version >= '3.6'
fonttools==4.54.1 ; python_version >= '3.8'
frozenlist==1.4.1 ; python_version >= '3.8'
fsspec==2023.6.0 ; python_version >= '3.8'
idna==3.10 ; python_version >= '3.6'
imagecodecs==2024.9.22 ; python_version >= '3.9'
imageio==2.36.0 ; python_version >= '3.9'
importlib-metadata==8.5.0 ; python_version < '3.12'
jgo==1.0.6 ; python_version >= '3.8'
jinja2==3.1.4 ; python_version >= '3.7'
jmespath==1.0.1 ; python_version >= '3.7'
jpype1==1.5.0
kiwisolver==1.4.7 ; python_version >= '3.8'
lazy-loader==0.4 ; python_version >= '3.7'
locket==1.0.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
lxml==4.9.4 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
markupsafe==3.0.2 ; python_version >= '3.9'
matplotlib==3.9.2
msgpack==1.1.0 ; python_version >= '3.8'
multidict==6.1.0 ; python_version >= '3.8'
napari-bioformats==0.2.1
napari-plugin-engine==0.2.0 ; python_version >= '3.6'
networkx==3.4.1 ; python_version >= '3.10'
numcodecs==0.13.1 ; python_version >= '3.10'
numpy==2.1.2
ome-types==0.5.2 ; python_version >= '3.8'
ome-zarr==0.9.0 ; python_version >= '3.6'
opencv-python==4.10.0.84
packaging==24.1 ; python_version >= '3.8'
pandas==2.2.3 ; python_version >= '3.9'
partd==1.4.2 ; python_version >= '3.9'
pillow==11.0.0
pims==0.7
propcache==0.2.0 ; python_version >= '3.8'
psutil==6.1.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pydantic==2.9.2 ; python_version >= '3.8'
pydantic-compat==0.1.2 ; python_version >= '3.7'
pydantic-core==2.23.4 ; python_version >= '3.8'
pyparsing==3.2.0 ; python_version >= '3.9'
pyscap==0.1.3
python-dateutil==2.9.0.post0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2024.2
pyyaml==6.0.2 ; python_version >= '3.8'
requests==2.32.3 ; python_version >= '3.8'
resource-backed-dask-array==0.1.0 ; python_version >= '3.7'
s3fs==2023.6.0
scikit-image==0.24.0
scipy==1.14.1
scyjava==1.10.0 ; python_version >= '3.8'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
slicerator==1.1.0
sortedcontainers==2.4.0
tblib==3.0.0 ; python_version >= '3.8'
tifffile==2023.2.28
toolz==1.0.0 ; python_version >= '3.8'
tornado==6.4.1 ; python_version >= '3.8'
tqdm==4.66.5
typing-extensions==4.12.2 ; python_version >= '3.8'
tzdata==2024.2 ; python_version >= '2'
urllib3==1.26.20 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
wrapt==1.16.0 ; python_version >= '3.6'
xarray==2024.9.0 ; python_version >= '3.10'
xmlschema==3.4.2 ; python_version >= '3.8'
xsdata==24.3.1 ; python_version >= '3.8'
yarl==1.15.5 ; python_version >= '3.9'
zarr==2.15.0 ; python_version >= '3.8'
zict==3.0.0 ; python_version >= '3.8'
zipp==3.20.2 ; python_version >= '3.8'
